{% if post_categories.length %}
  <div class="sea-post-categories">
    <i class="fa fa-folder"></i>
    {{ list_categories(post_categories, { show_count: false, style: false, separator: ' , ' }) }}
  </div>
{% endif %}