{% if post_categories.length %}
  <div class="sea-post-categories">
    <i class="sea-font">folder</i>
    {{ list_categories(post_categories, { show_count: false, style: false, separator: ' , ' }) }}
  </div>
{% endif %}