{{ js('js/mobile_nav') }}
{{ js('js/back_top') }}
{{ js('js/theme_toggle') }}

{% if theme.algolia %}
<script src="https://cdn.jsdelivr.net/npm/@docsearch/js@3"></script>
<script type="text/javascript">
    docsearch({
        container: '#sea-search-input',
        appId: '{{ theme.algolia.appId }}',
        apiKey: '{{ theme.algolia.apiKey }}',
        indexName: '{{ theme.algolia.indexName }}',
    });
</script>
{% endif %}

{# 不蒜子站点计数 #}
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>