<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ config.title }}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {# 霞骛文楷字体 #}
  <link rel="stylesheet" href="https://unpkg.com/lxgw-wenkai-screen-webfont@1.7.0/lxgwwenkaiscreen.css">
  {# 字体图标 #}
  <link rel="stylesheet" href="https://unpkg.com/font-awesome@4.7.0/css/font-awesome.min.css">
  {# waline评论样式 #}
  <link rel="stylesheet" href="https://unpkg.com/@waline/client@3.0.0-alpha.10/dist/waline.css" />
  {# docsearch #}
  <link rel="stylesheet" href="https://unpkg.com/@docsearch/css@3.5.2/dist/style.css" />

  {# CSS #}
  {{ css('css/main') }}

  {# Open Graph #}
  {{ open_graph() }}
</head>