<div class="sea-menu-mobile-wrap">
    <div class="sea-menu-mobile-inner">
        {{ partial('partial/card_user') }}

        {% for menu_item in theme.menu %}
            <a
                class="sea-menu-link"
                href="{{ url_for(menu_item.url) }}"
            >
                {{ menu_item.name }}
            </a>
        {% endfor %}

        {% if is_post() %}
            {{ partial('partial/anchor') }}
        {% endif %}

        {{ partial('partial/card_tags') }}
    </div>
</div>
<div id="sea-mobile-nav-dimmer"></div>