<nav class="sea-nav-wrap">
    <h1 class="sea-nav-logo" title="{{config.description}}">
        <a href="/">{{ config.title }}</a>
    </h1>
    {{ partial('partial/menu_pc') }}

    <div id="sea-mobile-nav-toggle">
        <i class="fa fa-bars sea-icon-bars"></i>
        <i class="fa fa-times sea-icon-close"></i>
    </div>
</nav>