<aside class="sea-sidebar-wrapper">
    <div class="sea-sidebar-card">
        {{ partial('partial/card_user') }}
    </div>

    <div class="sea-sidebar-card">
        {{ partial('partial/card_tags') }}
    </div>

    {% if is_post() %}
        <div class="sea-sidebar-card sea-sidebar-sticky">
            {{ partial('partial/anchor') }}
        </div>
    {% endif %}
</aside>