<article class="sea-page-card-wrapper">
  <h1 class="sea-page-card-title">
    {{ page.title }}
  </h1>
  <div class="sea-article-content sea-doc">
    {{ render(page.content) }}
  </div>
</article>

{{ partial('_plugins/comments/layout') }}