<div id="sea-article-toc" role="navigation">
  <strong class="sea-card-title">{{ __('page.contents') }}</strong>
  <div class="sea-article-toc__wrap">
		{{ toc(page.content, {list_number: false, class_number: false}) }}
	</div>
</div>