<div class="sea-card-categories">
  <strong class="sea-card-title">{{ __('page.categories') }}</strong>
  {{ list_categories(site.categories, { orderby: 'length', order: -1 }) }}
  <a class="sea-card-show-more" href="/categories/">更多 ></a>
</div>