<div class="sea-card-user">
  {% if theme.user.avatar %}
    {{ image_tag(theme.user.avatar, { width: 100, height: 100, class: 'sea-user-avatar' }) }}
  {% endif %}
  <div>{{ theme.user.name }}</div>
  <div>{{ theme.user.intro }}</div>
  <div class="sea-social-media">
    {% for item in theme.socialLink %}
      <a class="sea-social-link" href="{{ item.link }}">
        {{ item.icon }}
      </a>
    {% endfor %}
  </div>
</div>