<div class="sea-archive-wrapper">
    <div class="sea-page-card-wrapper">
        <div class="sea-page-card-title">{{ __('page.archive') }}</div>
        <h2 class="sea-archive-total">
            {{ _p('page.archive_total', site.posts.length) }}
        </h2>

        <ul class="sea-archive-list">
            {% set year = '' %}
            {% for post in page.posts.toArray() %}
                {% set postYear = date(post.date, 'YYYY') %}
                {% if postYear !== year %}
                    {% set year = postYear %}
                    <div class="sea-archive-year">
                        {{ year }}
                    </div>
                {% endif %}
                <li class="sea-archive-list-item">
                    <a
                        href="{{ url_for(post.path) }}"
                    >
                        {{ post.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    {{ partial('partial/pagination') }}
</div>
