<!DOCTYPE html>
<html lang="{{ page.lang }}">
{{ partial('partial/head') }}
<body>
    <div id="sea-layout-container">
        {{ partial('partial/header') }}
        {{ body }}
        {{ partial('partial/footer') }}
    </div>
</body>
</html>