<!DOCTYPE html>
<html lang="{{ page.lang }}">
{{ partial('partial/head') }}
<body>
    {{ partial('partial/header') }}
    <main id="sea-main-wrapper">
        <div class="sea-main-left">
            {{ body }}
        </div>
        <div class="sea-main-right">
            {{ partial('partial/sidebar') }}
        </div>
    </main>
    {{ partial('partial/footer') }}
    {{ partial('partial/menu_mobile') }}

    {{ partial('partial/body_script') }}
</body>
</html>