<!DOCTYPE html>
<html lang="{{ page.lang }}">
{{ partial('partial/head') }}
<body>
    {{ partial('partial/header') }}
    <main id="sea-main-wrapper">
        {{ body }}
    </main>
    {{ partial('partial/footer') }}

    {{ partial('partial/body_script') }}
</body>
</html>