.sea-card-title {
  display: inline-block;
  border-bottom: 1px solid var(--sea-color-gray);
  padding-bottom: .5rem;
  margin-bottom: .5rem;
  font-size: 1.2rem;
}

/* 个人信息卡片 */
.sea-card-user {
  text-align: center;
}

.sea-user-avatar {
  border-radius: 50%;
}

.sea-card-user-intro {
  font-size: .8rem;
  margin-top: .5rem;
}

.sea-social-media {
  margin-top: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: .5rem;
}

.sea-social-link {
  line-height: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--sea-color-border);
  border-radius: 4px;
  padding: 3px;
}

/* 分类/标签 卡片 */
.sea-card-show-more {
  display: block;
  width: 100%;
  font-size: .875rem;
  margin-top: 1rem;
  color: var(--sea-color-primary);
}

.sea-card-tags .tag-list,
.sea-card-categories .category-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  max-height: 200px;
  overflow: hidden;
}

.sea-card-categories .category-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1rem;
  line-height: 1.5rem;
}

.sea-card-tags .tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: .6rem 1.2rem;
}

.sea-card-tags .tag-list-item {
  display: inline-block;
}

.tag-list-count {
  vertical-align: super;
  font-size: .8rem;
  margin-left: 2px;
  opacity: .6;
}

.sea-card-tags .tag-list-link,
.sea-card-categories .category-list-link {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sea-card-tags .tag-list-link:hover,
.sea-card-categories .category-list-link:hover {
  color: var(--sea-color-primary);
}

.sea-card-categories .category-list-item {
  flex-wrap: wrap;
}
.sea-card-categories .category-list-child {
  width: 100%;
  padding-left: 1.5rem;
}

/* 最近文章卡片 */
.sea-card-recent .post-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sea-card-recent .post-list-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5rem;
}

.sea-card-recent .post-list-link:hover {
  color: var(--sea-color-primary);
}

/* 目录卡片 */
#sea-article-toc .toc,
#sea-article-toc .toc-child,
#sea-article-toc .toc-item {
  list-style: none;
  font-size: 1rem;
}

.sea-article-toc__wrap {
  max-height: 70vh;
  overflow: auto;
  padding-right: 4px;
}

#sea-article-toc ol.toc {
  margin: 0;
  padding: 0;
}

#sea-article-toc ol.toc-child {
  margin: 0;
}

#sea-article-toc .toc-child {
  padding-left: 1.5rem;
}

#sea-article-toc .toc-link {
  display: block;
  padding: .3rem 0;
  line-height: 1;
}

#sea-article-toc .toc-link:hover {
  color: var(--sea-color-primary);
}