.sea-index-title {
  font-size: 1.8rem;
  margin-top: 3rem;
  margin-bottom: .5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--sea-color-divider);
}

.sea-post-item {
  position: relative;
  padding: 1rem 0;
  margin-bottom: 0.8rem;
  transition: all .3s;
  border-bottom: 1px solid var(--sea-color-divider);
}

.sea-post-title {
  font-size: 1.4rem;
  font-weight: 700;
  transition: all .3s ease-out 0s;
  margin: 0.5rem 0;
  border: none;
  cursor: pointer;
}

.sea-post-link {
  display: block;
}

.sea-post-line {
  transition: all 0.3s ease-out;
  border-top: 2px solid var(--sea-color-text-1);
  display: block;
  width: 2rem;
}

.sea-post-abstract {
  line-height: 1.5;
  margin: 1rem 0;
  color: var(--sea-color-text-2);
  letter-spacing: .5px;
}

.sea-post-item:hover .sea-post-title {
  color: var(--sea-color-primary);
}

.sea-post-item:hover .sea-post-line {
  width: 5rem;
  border-color: var(--sea-color-primary);
}

.sea-post-top-flag {
  color: var(--sea-color-danger);
}

.sea-post-item .sea-post-meta {
  font-size: .875rem;
}

.sea-post-item .sea-post-meta .sea-svg-icon {
  width: .875rem;
  height: .875rem;
}

.sea-index-all-posts {
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.sea-index-all-posts .sea-svg-icon {
  width: .875rem;
  height: .875rem;
}

.sea-index-all-posts__link {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  line-height: 1;
}

.sea-index-all-posts:hover .sea-index-all-posts__link {
  color: var(--sea-color-primary);
}