<!DOCTYPE html>
<html lang="{{ page.lang }}">
{{ partial('_partial/head') }}
<body>
  <header class="sea-header">
    {{ partial('_partial/main/navbar') }}
  </header>
  <main id="sea-main-wrapper">
    {{ body }}
  </main>
  {{ partial('_partial/main/footer') }}

  {{ partial('_partial/body_script') }}
</body>
</html>