<article class="sea-page-card-wrapper">
  <header class="sea-article-header">
    <h1 class="sea-article-title">{{ page.title }}</h1>
    {% if is_post() %}
      <div class="sea-post-meta sea-post-meta__center">
        {{ partial('_partial/post/post_date', {post_date: page.date}) }}
        {{ partial('_partial/post/post_categories', {post_categories: page.categories}) }}
        {{ partial('_partial/post/post_tags', {post_tags: page.tags}) }}
      </div>
    {% endif %}
  </header>
  <div class="sea-article-content sea-doc">
    {{ render(page.content) }}
  </div>

  {% if is_post() %}
    {{ partial('_partial/main/prev_next') }}
  {% endif %}
</article>

{{ partial('_plugins/comments/index') }}