{% if theme.comment.enable and page.comments %}
  {% if theme.comment.type === 'waline' %}
    {{ partial('_plugins/comments/waline') }}
  {% endif %}

  {% if theme.comment.type === 'giscus' %}
    {{ partial('_plugins/comments/giscus') }}
  {% endif %}
{% endif %}