<section id="sea-comments" class="sea-page-card-wrapper">
  <div id="sea-waline"></div>
</section>

<script type="module">
  import { init } from 'https://unpkg.com/@waline/client@3.0.0-alpha.10/dist/waline.js';

  init({
    el: '#sea-waline',
    serverURL: '{{ theme.waline.serverURL }}',
  });
</script>