<div class="sea-menu-mobile-wrap">
  <div class="sea-menu-mobile-inner">
    {% for menu_item in theme.menu %}
      <a
        class="sea-menu-link"
        {% if menu_item.url.startsWith("http") %}
          target="_blank"
        {% endif %}
        href="{{ url_for(menu_item.url) }}"
      >
        {{ menu_item.name }}
      </a>
    {% endfor %}
  </div>
</div>
<div id="sea-mobile-nav-dimmer"></div>