<div class="sea-menu-mobile-wrap">
  <div class="sea-menu-mobile-inner">
    {{ partial('_partial/card/user') }}

    {% for menu_item in theme.menu %}
      <a
        class="sea-menu-link"
        href="{{ url_for(menu_item.url) }}"
      >
        {{ menu_item.name }}
      </a>
    {% endfor %}

    {% if is_post() %}
      {{ partial('_partial/card/anchor') }}

      {{ partial('_partial/card/recent') }}
    {% endif %}

    {{ partial('_partial/card/categories') }}
    {{ partial('_partial/card/tags') }}
  </div>
</div>
<div id="sea-mobile-nav-dimmer"></div>