*,
::before,
::after {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: inherit;
}

html {
    font-size: 16px;
    scroll-padding-top: var(--sea-nav-height);
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 6px;
    height: 5px;
}
html::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--sea-color-gray);
}
html::-webkit-scrollbar-track {
    background-color: var(--sea-color-gray-2);
    border-radius: 3px;
}

body {
    margin: 0;
    width: 100%;
    min-width: 320px;
    color: var(--sea-color-text-1);
    background-color: var(--sea-color-bg);
    font-family: var(--sea-font-family-lxgw);
}