@media screen and (max-width: 768px) {
    html {
        font-size: 14px;
    }

    .sea-main-right {
        display: none;
    }

    #sea-mobile-nav-toggle {
        display: block;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .sea-menu-pc-wrap {
        display: none;
    }

    .sea-menu-mobile-wrap {
        display: block;
        background-color: var(--sea-color-main-bg);
        position: fixed;
        width: 80%;
        height: 100%;
        top: 0px;
        right: 0px;
        z-index: 10;
        margin-top: var(--sea-nav-height);
        transition: transform .3s cubic-bezier(.4,0,.2,1);
        transform: translateX(100%);
        overflow: auto;
    }

    #sea-mobile-nav-dimmer {
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        transform: translateX(100%);
        background-color: var(--sea-post-shadow-1);
        opacity: 0;
        transition: opacity .3s cubic-bezier(.4,0,.2,1);
    }
    
    .sea-menu-mobile-inner {
        width: var(--sea-main-width);
        max-width: var(--sea-main-max-width);
        margin: 1rem auto;
    }
    
    .sea-mobile-nav-on {
        overflow: hidden;
    }
    
    .sea-mobile-nav-on .sea-menu-mobile-wrap {
        transform: translateX(0);
    }

    .sea-mobile-nav-on #sea-mobile-nav-dimmer {
        opacity: 1;
        transform: translateX(0);
    }

    #sea-mobile-nav-toggle .sea-icon-bars {
        display: inline-block;
    }
    #sea-mobile-nav-toggle .sea-icon-close {
        display: none;
    }
    .sea-mobile-nav-on #sea-mobile-nav-toggle .sea-icon-bars {
        display: none;
    }
    .sea-mobile-nav-on #sea-mobile-nav-toggle .sea-icon-close {
        display: inline-block;
    }

    .sea-menu-mobile-wrap .sea-menu-link {
        display: block;
        padding: 1rem 0;
        border-bottom: 1px solid var(--sea-color-divider);
    }
}