/* 中性色 */
:root {
    --sea-color-white: #ffffff;
    --sea-color-black: #000000;
    --sea-color-primary: #10b981;
    --sea-color-warning: #f59e0b;
    --sea-color-danger: #ef4444;

    --sea-color-gray: #8e8e93;
    --sea-color-gray-1: #ccc;
    --sea-color-gray-2: #eee;

    --sea-color-divider: rgba(60, 60, 67, 0.12);
    --sea-color-border: rgba(60, 60, 67, 0.29);
}

/* 亮色主题 */
:root {
    --sea-color-main-bg: #ffffff;
    --sea-color-bg: #f4f4f4;
    --sea-color-header-bg: hsla(0,0%,100%,0.9);
    --sea-post-shadow: rgba(0,0,0,.1);
    --sea-post-shadow-1: rgba(0,0,0,.5);

    --sea-color-text-1: rgba(60, 60, 67);
    --sea-color-text-2: rgba(60, 60, 67, 0.75);
    --sea-color-text-3: rgba(60, 60, 67, 0.33);

    --sea-color-bg-soft: #f6f6f7;
    --sea-color-text-code: #476582;
    --sea-color-mute: #f6f6f7;
}

/* 暗色主题 */
html[theme=dark] {
    --sea-color-main-bg: #1e1e22;
    --sea-color-bg: #27272b;
    --sea-color-header-bg: rgba(30,30,34,0.8);
    --sea-post-shadow: rgba(255,255,255,.1);
    --sea-post-shadow-1: rgba(255,255,255,.5);

    --sea-color-text-1: rgba(255, 255, 245, 0.86);
    --sea-color-text-2: rgba(235, 235, 245, 0.6);
    --sea-color-text-3: rgba(235, 235, 245, 0.38);

    --sea-color-bg-soft: #252529;
    --sea-color-text-code: #c9def1;
    --sea-color-mute: #313136;
}

:root {
    --sea-main-width: 85%;
    --sea-main-max-width: 1000px;
    --sea-nav-height: 64px;
}

/* 字体 */
:root {
    --sea-font-family-lxgw: "LXGW WenKai Screen", sans-serif;
    --sea-font-family-code: ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Monaco,
        Consolas, 'Liberation Mono', 'Courier New', monospace;
}