.sea-article-content {
  word-break: break-word;
  margin-top: 1.5rem;
}

.sea-article-title {
  font-size: 1.75rem;
  text-align: center;
}

.sea-post-meta {
  color: var(--sea-color-text-2);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 1.5rem;
  row-gap: 0.5rem;
}

.sea-post-time,
.sea-post-tags,
.sea-post-categories {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  gap: .5rem;
}

.sea-post-meta__center {
  justify-content: center;
}