<head>
  <meta charset="utf-8">
  <title>{{ generatePageTitle(page) }}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="{{ config.keywords }}">
  <meta name="theme-color" content="{{ theme.primaryColor }}">

  <link rel="canonical" href="{{ full_url_for(page.path) }}">

  {{ favicon_tag(config.favicon) }}

  {# CSS #}
  {{ css('css/main') }}

  {# Open Graph #}
  {{ open_graph() }}

  <style>
    :root {
      --sea-color-primary: {{ theme.primaryColor }};
    }
  </style>

  {{ js('js/theme_mode') }}
</head>