<head>
  <meta charset="utf-8">
  <title>{{ generatePageTitle(page) }}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="{{ config.keywords }}">

  <link rel="stylesheet" href="https://unpkg.com/lxgw-wenkai-screen-webfont@1.7.0/lxgwwenkaiscreen.css">

  {# 字体图标 #}
  {{ css('fonts/sea-font') }}

  {# CSS #}
  {{ css('css/main') }}

  {# Open Graph #}
  {{ open_graph() }}

  <style>
    :root {
      --sea-color-primary: {{ theme.primaryColor }};
    }
  </style>

  {{ js('js/global') }}
</head>