<div class="sea-float-tools-wrapper">
  {# 回到顶部 #}
  <a class="sea-float-tools-btn" id="sea-back-to-top" href="#">
    <i class="sea-font">arrow-up</i>
  </a>

  {# 搜索 #}
  {% if theme.algolia and theme.algolia.enable %}
    <a class="sea-float-tools-btn" id="sea-search-icon">
      <i class="sea-font">search</i>
    </a>
    <div id="sea-search-input"></div>
  {% endif %}

  {# 主题切换 #}
  <div class="sea-float-tools-btn" id="sea-theme-mode">
    <i class="sea-font">theme</i>

    <ul class="sea-theme-select-box">
      <li class="sea-theme-select-item" id="sea-theme-auto">{{ __('theme.auto') }}</li>
      <li class="sea-theme-select-item" id="sea-theme-light">{{ __('theme.light') }}</li>
      <li class="sea-theme-select-item" id="sea-theme-dark">{{ __('theme.dark') }}</li>
    </ul>
  </div>
</div>