<footer id="sea-footer-container">
  <div class="sea-footer-row">
    <div class="sea-footer-menu-link">
      {% for menu_item in theme.menu %}
        <a
          class="sea-footer-link"
          href="{{ url_for(menu_item.url) }}"
        >
          {{ menu_item.name }}
        </a>
        <span class="sea-footer-link__dot">·</span>
      {% endfor %}
      {% if theme.footer.rss %}
        <a
          class="sea-footer-link"
          href="{{ url_for(theme.footer.rss) }}"
          target="_blank"
        >
          {{ __('footer.rss') }}
        </a>
        <span class="sea-footer-link__dot">·</span>
      {% endif %}
    </div>
    <span class="split-line">|</span>
    <span id="busuanzi_container_site_uv">
      {{ _p('footer.site_uv', '<span id="busuanzi_value_site_uv"></span>') }}
    </span>
  </div>
  {% set current = moment().year() %}
  {% set since = moment(theme.footer.builtUpTime).year() %}
  <div class="sea-footer-row">
    <div class="sea-footer-copyright">
      <span>©</span>
      {% if current > since %}
        {{ since + '-' + current }}
      {% else %}
        {{ current }}
      {% endif %}
      <span>·</span>
      {{ theme.user.name }}
    </div>
    <span class="split-line">|</span>
    <div class="sea-footer-theme-by">
      {{ _p('footer.theme_source', '<a class="theme" href="https://github.com/hai-zou/hexo-theme-sea" target="_blank">Sea</a>') }}
    </div>
  </div>
</footer>