<section id="sea-hero-info">
  <div class="sea-hero-info__left">
    <h1 class="sea-hero-name">{{ theme.home.hero.name }}</h1>
    <p class="sea-hero-info__intro">{{ theme.home.hero.intro }}</p>
    <div class="sea-hero-info__links">
      {% for item in theme.socialLink %}
        <a
          class="sea-hero-info__link-item"
          {% if item.link.startsWith("http") %}
            target="_blank"
          {% endif %}
          href="{{ url_for(item.link) }}"
        >
          {{ item.name }}
        </a>
        <span class="sea-hero-info__dot">·</span>
      {% endfor %}
    </div>
  </div>
  <div class="sea-hero-info__right">
    <img
      class="sea-hero-info__avatar"
      src="{{ theme.home.hero.avatar }}"
      alt="{{ theme.home.hero.name }}"
    />
  </div>
</section>