<nav class="sea-nav-wrap">
  <div class="sea-nav-logo" title="{{config.subtitle}}">
    <a href="{{ url_for("/") }}">{{ config.title }}</a>
  </div>
  <div class="sea-nav-menus">
    <div id="sea-nav-toggle">
      {{ partial('svg/bars') }}
    </div>

    {{ partial('_partial/main/menu') }}
  </div>
</nav>