{% if page.prev or page.next %}
  <div class="sea-prev-next-wrapper">
    {% if page.prev %}
      <div class="prev">
        <span><</span>
        <a class="link" href="{{ url_for(page.prev.path) }}">
          {{ page.prev.title }}
        </a>
      </div>
    {% endif %}
    {% if page.next %}
      <div class="next">
        <a class="link" href="{{ url_for(page.next.path) }}">
          {{ page.next.title }}
        </a>
        <span>></span>
      </div>
    {% endif %}
  </div>
{% endif %}