<aside class="sea-sidebar-wrapper sea-sidebar-sticky">
  <div class="sea-sidebar-card">
    {{ partial('_partial/card/user') }}
  </div>

  {% if is_post() %}
    <div class="sea-sidebar-card" style="animation-delay: 0.1s;">
      {{ partial('_partial/card/anchor') }}
    </div>

    <div class="sea-sidebar-card" style="animation-delay: 0.2s;">
      {{ partial('_partial/card/recent') }}
    </div>
  {% else %}
    {% if site.categories.length %}
      <div class="sea-sidebar-card" style="animation-delay: 0.1s;">
        {{ partial('_partial/card/categories') }}
      </div>
    {% endif %}

    {% if site.tags.length %}
      <div class="sea-sidebar-card" style="animation-delay: 0.2s;">
        {{ partial('_partial/card/tags') }}
      </div>
    {% endif %}
  {% endif %}
</aside>