<div id="sea-search-input"></div>

<script type="module">
  import "https://unpkg.com/@docsearch/js@3.5.2/dist/umd/index.js";
  import { loadCSS } from '/js/utils.js';

  loadCSS('https://unpkg.com/@docsearch/css@3.5.2/dist/style.css');
  loadCSS('/css/plugins/docsearch.css');

  docsearch({
    container: '#sea-search-input',
    appId: '{{ theme.algolia.appId }}',
    apiKey: '{{ theme.algolia.apiKey }}',
    indexName: '{{ theme.algolia.indexName }}',
  });
</script>