{% if theme.search and theme.search.enable %}
  {% if theme.search.type === 'algolia' %}
    {{ partial('_plugins/search/docsearch') }}
  {% endif %}

  {% if theme.search.type === 'pagefind' %}
    {{ partial('_plugins/search/local') }}
  {% endif %}
{% endif %}