.sea-friend-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}

.sea-friend-wrapper .sea-friend-card {
  color: inherit;
  padding: 12px;
  border-radius: 10px;
  background-color: var(--sea-color-main-bg);
  border: 1px solid var(--sea-color-border-1);
  cursor: pointer;
  display: flex;
  gap: 15px;
  transition: all .2s ease-in-out;
}

.sea-friend-wrapper .sea-friend-card:hover {
  text-decoration: none;
}

.sea-friend-wrapper .sea-friend-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.sea-friend-wrapper .sea-friend-content {
  flex: 1;
  overflow: hidden;
}

.sea-friend-wrapper .sea-friend-name {
  color: var(--sea-color-primary);
  margin-bottom: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sea-friend-wrapper .sea-friend-desc {
  color: var(--sea-color-gray);
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}