.sea-card-user {
    text-align: center;
}

.sea-user-avatar {
    border-radius: 50%;
}

.sea-social-media {
    margin-top: .5rem;
}

.sea-social-link {
    font-size: 1.2rem;
    line-height: 1;
    margin: 0 .8rem;
}

.sea-card-title {
    display: inline-block;
    border-bottom: 1px solid var(--sea-color-gray);
    padding-bottom: .5rem;
    margin-bottom: .5rem;
    font-size: 1.2rem;
}

.sea-card-tags .tag-list,
.sea-card-categories .category-list {
    list-style: none;
    padding-left: 0;
    margin: 0;
    max-height: 300px;
    overflow: auto;
}

.sea-card-tags .tag-list-item,
.sea-card-categories .category-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1.5rem;
}

.sea-card-recent .post-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.sea-card-recent .post-list-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5rem;
}