#sea-main-wrapper {
    width: var(--sea-main-width);
    padding-top: 2rem;
    max-width: var(--sea-main-max-width);
    margin: var(--sea-nav-height) auto 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0 20px;
}

.sea-main-left {
    flex: 1;
    overflow: hidden;
}
.sea-main-right {
    width: 240px;
}