.sea-sidebar-wrapper {
  /* height: 100%; */
}

.sea-sidebar-card {
  background-color: var(--sea-color-main-bg);
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: .8rem;
  animation: fade-up .4s backwards;
}

.sea-sidebar-sticky {
  position: sticky;
  top: calc(var(--sea-nav-height) + 10px);
}